<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div id="app" >
    <div class="container">
      <div class="logo">
        <h1>Boolean</h1>
      </div>
  
      <div class="new-task">
        <input @keyup.enter="addTask" v-model.trim="message" type="text" placeholder="Nuova task">
        <button @click="addTask" >Aggiungi</button>
        <p v-if="iserror">non hai raggiunto i 5 caratteri</p>
      </div>
  
      <div class="task-container">
        <ul v-if="tasks.length > 0">

          <!--è come un toogle di base è done e false al click diventa true -->
          <li 
          @click="task.done  = !task.done" 
          v-for="(task, i) in tasks">
            <span :class="{sbarrato: task.done}"> {{task.text}}</span>
            <i @click.stop="removeTask(i) " class="fa-solid fa-trash"></i>
            
          </li>
  
  
        </ul>
        <h3 v-else>nessun task</h3>
      </div>
      <h3 v-if="errorTask">devi svolgere il tuo task prima</h3>
    </div>
    


  </div>

  <script src="js/script.js"></script>
</body>
</html>